@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none
}

input:focus{
    outline: none;
}