@charset "UTF-8";
.container{ 
    /* border:1px solid blue; */
    width:1190px;
    height:auto;
    padding:28px 16px 100px 34px;
}


.mentor-detail-main {
    display:flex;
    justify-content: space-between;
}

.card-area {
    width:280px;
    height:480px;
    background:#fff;
    border-radius: 4px;
    font-size: 14px;
    margin:40px;
    border:1px solid rgb(229, 231, 235);
    box-shadow:0 4px 24px 0 rgb(0 0 0 / 4%);
    padding: 29px 23px 23px 23px;
    
}

.image-wrap {
    width:100%;
    height:200px;
    margin-bottom:40px;
}

.image-inner {
    width:200px;
    height:100%;
    margin:auto;
}

#mentor-image {
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center 50%;
    border-radius: 50%;
    display:block;
    margin:auto;
}

#profile-wrap{
    width:100%;
    height:180px;
}

#mentor-profile{
    margin:auto;
    width:100%;
    height:180px;
    text-align:center;
    border:none;
}

#mentor-field, #mentor-job, #mentor-name span {
    font-size: 16px;
}

#mentor-name {
    font-size: 22px;
    font-weight: bold;
}

#mentor-job {
    font-size: 20px;
}

.introduce-area {
    width: 760px;
    margin:40px;   
    padding-top:30px; 
}

.menu-area{
    width:100%;
    text-align: center;
    padding:20px;
}

.menu-area button {
    width:150px;
    height:40px;
    border-radius:4px;
    background-color: #fff;
    border:1px solid #E5E7EB;
}

.menu-area button:hover{
    background-color: #6353ff;
    color: white;
    border:1px solid #6353ff;
}

.class-area{
    width:auto;
    margin:40px;
}

.thumbnail {
    width:450px;
    display:inline-block;
    margin:14px;
}

.mentor-class-list {
    display:flex;
    justify-content: flex-start;
    flex-wrap:wrap;
}

.class-thumbnail {
    margin-left:50px;
    margin-right:60px;
}

.class-thumbnail * {
    float:left;
    cursor: pointer;
}

.question-area{
    margin:40px;
    height:auto;
}

.question-header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}

.question-header > h3{
    display:inline;
}

.question-insert {
    height:auto;
    width:100%;
}



#question-enroll {
    width:50px;
    height:30px;
    border-radius: 4px;
    color: white;
    background-color: #6353ff;
    margin-bottom: 40px;
}

.user-question {
    margin-left:40px;
    border:1px solid #abb0b5
}

.mentor-reply {
    margin-left:100px;
    border:1px solid #6353ff
}

.question-write {
    width:800px;
    height:auto;
    margin-left: 40px;
    margin-bottom:20px;
}


.not-login {
    width:100%;
    height:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8ff;
    padding-top:10px;
    border-radius: 8px;
}



#question-title{
    width:100%;
    height:30px;
    border-radius: 8px;
    padding:2px 5px 5px 10px;
    font-size: 14px;
    border:1px solid #6353ff
}

#question-content {
    width:100%;
    height:50px;
    border-radius:8px;
    border:1px solid #e8e8ff;
    padding:2px 5px 5px 10px;
    font-size: 14px;
}

#question-enroll-btn{
    font-size: 14px;
    border:1px solid #3e4042;
    background-color: #3e4042;
    color:#fff;
    font-weight:500;
    border-radius: 4px;
    height:30px;
    width:75px;
}

.user-question {
    width:850px;
    font-size: 14px;
    border:none;
    margin-bottom:10px;
}

#user-question-writer{
    font-size: 14px;
    color: #111111;
}

#user-question-date{
    font-size:12px;
    color:#999999;
}

#user-question-title, #user-question-content{
    font-size:14px;
    padding:3px;
}

#user-question-title {
    font-weight:500;
}
.lecturer-reply{
    margin-left:100px;
    font-size:14px;
}

#no-reply{
    width:auto;
    font-size: 12px;
    color:#999999;
    background-color: #f8f8ff;
    margin-left:100px;
}

.lecturer-reply{
    width:800px;
    font-size:14px;
    margin-bottom:20px;
}

#lec-reply-writer i {
    color: #6363ff;
}

#lec-reply-date{
    font-size:12px;
    color:#999999;
}

#lec-reply-content{
    font-size:14px;
    background-color: #e8e8ff;
}

.mentor-info{
    margin-left:40px;
}