<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="loginAdmin">
	SELECT 
	       USER_NO
	     , USER_ID
	     , USER_PWD
	     , USER_NAME
	     , ADMIN_STATUS
	  FROM USERINFO
	 WHERE USER_ID = ?
	   AND USER_PWD = ?
	   AND ADMIN_STATUS = 'Y'
</entry>

<entry key="insertFaq">
	INSERT
	  INTO FAQ
	       (
	       FAQ_NO
	     , USER_NO
	     , FAQ_TITLE
	     , FAQ_ANSWER
	       )
	VALUES (
	       SEQ_FAQ.NEXTVAL
	     , ?
	     , ?
	     , ?
	       )
</entry>

<entry key="selectFaqCount">
	SELECT COUNT(*) AS "LIST_COUNT"
	  FROM FAQ
</entry>

<entry key="selectFaqList">
	SELECT *
	  FROM (
	    SELECT ROWNUM RNUM, A.*
	      FROM (
	        SELECT FAQ_NO
	             , USER_NO
	             , FAQ_TITLE
	             , FAQ_ANSWER
	             , FAQ_ENROLLDATE
	             , FAQ_COUNT
	          FROM FAQ
	         ORDER BY FAQ_NO DESC
	           ) A
	        )
	 WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="deleteFaq">
	DELETE
	  FROM FAQ
	 WHERE FAQ_NO = ?
</entry>

<entry key="selectFaq">
	SELECT FAQ_NO
	     , USER_NO
	     , FAQ_TITLE
	     , FAQ_ANSWER
	     , FAQ_ENROLLDATE
	     , FAQ_COUNT
	  FROM FAQ
	 WHERE FAQ_NO = ?
</entry>

<entry key="updateFaq">
	UPDATE FAQ
	   SET FAQ_TITLE = ?
	     , FAQ_ANSWER = ?
	 WHERE FAQ_NO = ?
</entry>

<entry key="selectNoticeCount">
	SELECT COUNT(*) COUNT
	  FROM NOTICE
</entry>

<entry key="selectStudentListCount">
	SELECT COUNT(*) AS "LISTCOUNT"
	  FROM USERINFO
	 WHERE USER_STATUS = 'N'
	   AND USER_DIVISION = 1
</entry>

<entry key="stuListCountSearch">
SELECT COUNT(*) AS "LISTCOUNT"
  FROM (SELECT ROWNUM AS "RNO", A.*
          FROM (SELECT 
                       USER_NO
                     , USER_NAME
                  FROM USERINFO
                 WHERE  USER_DIVISION = 1
                   AND (USER_NO LIKE ? OR USER_NAME LIKE ?)
                   ORDER 
	                    BY USER_NO DESC) A)
</entry>

<entry key="stuInfoOutCount">
	SELECT COUNT(*) AS "LISTCOUNT"
	  FROM (SELECT ROWNUM AS "RNO", A.*
	          FROM (SELECT 
	                       USER_NO
	                     , USER_NAME
	                  FROM USERINFO
	                 WHERE  USER_DIVISION = 1
	                   AND USER_STATUS = 'Y'
	                   AND (USER_NO LIKE ? OR USER_NAME LIKE ?)
	                   ORDER 
		                    BY USER_NO DESC) A)
</entry>

<entry key="studentInfo">
	SELECT *
	  FROM (SELECT ROWNUM AS "RNO", A.*
	          FROM (SELECT 
	                       USER_NO
	                     , USER_ID
	                     , USER_PWD
	                     , USER_NAME
	                     , USER_EMAIL
	                     , USER_PHONE
	                     , USER_ENROLLDATE
	                     , USER_STATUS
	                     , ADMIN_STATUS
	                     , USER_DIVISION
	                  FROM USERINFO
	                 WHERE USER_STATUS = 'N'
	                   AND USER_DIVISION = 1
	                 ORDER 
	                    BY USER_NO DESC) A)
	 WHERE RNO BETWEEN ? AND ?
</entry>

<entry key="stuInfoAll">
	SELECT * 
	  FROM (SELECT ROWNUM AS "RNO", A.*
	          FROM (SELECT 
	                       USER_NO
	                     , USER_ID
	                     , USER_PWD
	                     , USER_NAME
	                     , USER_EMAIL
	                     , USER_PHONE
	                     , USER_ENROLLDATE
	                     , USER_STATUS
	                     , ADMIN_STATUS
	                     , USER_DIVISION
	                  FROM USERINFO
	                 WHERE  USER_DIVISION = 1
	                   AND (USER_NO LIKE ? OR USER_NAME LIKE ?)
	                   ORDER 
		                    BY USER_NO DESC) A)
	 WHERE RNO BETWEEN ? AND ?
</entry>

<entry key="stuInfoOutSearch">
	SELECT * 
	  FROM (SELECT ROWNUM AS "RNO", A.*
	          FROM (SELECT 
	                       USER_NO
	                     , USER_ID
	                     , USER_PWD
	                     , USER_NAME
	                     , USER_EMAIL
	                     , USER_PHONE
	                     , USER_ENROLLDATE
	                     , USER_STATUS
	                     , ADMIN_STATUS
	                     , USER_DIVISION
	                  FROM USERINFO
	                 WHERE  USER_DIVISION = 1
	                   AND USER_STATUS= 'Y'
	                   AND (USER_NO LIKE ? OR USER_NAME LIKE ?)
	                   ORDER 
		                    BY USER_NO DESC) A)
	 WHERE RNO BETWEEN ? AND ?
</entry>

<entry key="selectNoticeList">
	SELECT *
	  FROM (
	      SELECT ROWNUM RNUM, A.*
	      FROM (
	          SELECT NOTICE_NO
	             , USER_NO
	             , NOTICE_TITLE
	             , NOTICE_CONTENT
	             , NOTICE_ENROLLDATE
	             , NOTICE_MODIFYDATE
	             , NOTICE_COUNT
	          FROM NOTICE
	         ORDER BY NOTICE_NO DESC
	           ) A
	       )
	 WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectNotice">
	SELECT NOTICE_NO
	     , USER_NO
	     , NOTICE_TITLE
	     , NOTICE_CONTENT
	     , NOTICE_ENROLLDATE
	     , NOTICE_MODIFYDATE
	     , NOTICE_COUNT
	  FROM NOTICE
	 WHERE NOTICE_NO = ?
</entry>

<entry key="updateNotice">
	UPDATE NOTICE
	   SET NOTICE_TITLE = ?
	     , NOTICE_CONTENT = ?
	     , NOTICE_MODIFYDATE = SYSDATE
	 WHERE NOTICE_NO = ?
</entry>

<entry key="deleteNotice">
	DELETE
	  FROM NOTICE
	 WHERE NOTICE_NO = ?
</entry>

<entry key="selectReplyCount">
	SELECT COUNT(*) COUNT
	  FROM REPLY
</entry>

<entry key="selectReplyList">
	SELECT *
	  FROM (
	      SELECT ROWNUM RNUM, A.*
	      FROM (
	          SELECT REPLY_NO
	             , C.CM_TITLE
	             , U.USER_NAME
	             , REPLY_CONTENT
	             , REPLY_ENROLLDATE
	          FROM REPLY R
	          JOIN USERINFO U ON R.USER_NO = U.USER_NO
	          JOIN COMMUNITY C ON R.CM_NO = C.CM_NO
	         ORDER BY REPLY_NO DESC
	           ) A
	       )
	 WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="deleteReply">
	DELETE
	  FROM REPLY
	 WHERE REPLY_NO = ?
</entry>

<entry key="selectMtmCount">
	SELECT COUNT(*) COUNT
	  FROM MTM
	 WHERE MTM_ANSWER IS NULL
</entry>

<entry key="selectMtmList">
SELECT *
  FROM (
      SELECT ROWNUM RNUM, A.*
      FROM (
          SELECT MTM_NO
             , USER_NAME
             , MTM_TITLE
             , MTM_CONTENT
             , MTM_ENROLLDATE
             , MTM_ANSWER
             , MTM_ANSWER_DATE
             , ADMIN_NO
          FROM MTM M
          JOIN USERINFO U ON (M.USER_NO = U.USER_NO)
         WHERE MTM_ANSWER IS NULL
         ORDER BY MTM_NO DESC
           )A
       )
 WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectMtm">
	SELECT MTM_NO
	     , USER_NO
	     , MTM_TITLE
	     , MTM_CONTENT
	     , MTM_ENROLLDATE
	     , MTM_ANSWER
	     , MTM_ANSWER_DATE
	     , ADMIN_NO
	  FROM MTM
	 WHERE MTM_NO = ?
</entry>

<entry key="updateAnswer">
	UPDATE MTM
	   SET MTM_ANSWER = ?
	     , MTM_ANSWER_DATE = SYSDATE
	 WHERE MTM_NO = ?
</entry>

<entry key="selectUserEmail">
	SELECT MTM_NO
	     , USER_EMAIL
	     , MTM_TITLE
	     , MTM_CONTENT
	     , MTM_ENROLLDATE
	     , MTM_ANSWER
	     , MTM_ANSWER_DATE
	     , ADMIN_NO
	  FROM MTM M
	  JOIN USERINFO U ON (M.USER_NO = U.USER_NO)
	 WHERE MTM_NO = ?
</entry>

<entry key="selectClassCount">
	 SELECT COUNT(*) COUNT
	   FROM CLASS
	  WHERE CL_GRANT = 'A'
</entry>

<entry key="selectClassList">
	SELECT *
	  FROM (
	    SELECT ROWNUM RNUM, A.*
	      FROM (
	        SELECT CL_NO
	             , USER_NAME
	             , CLCG_NAME
	             , CL_TITLE
	             , CL_SUBTITLE
	             , CL_INFO
	             , CL_CURRI
	             , CL_PRICE
	             , CL_ENROLLDATE
	             , CL_GRANT
	             , CL_THUMBNAILPATH
	          FROM CLASS C
	          JOIN USERINFO U ON (C.USER_NO = U.USER_NO)
	          JOIN CL_CATEGORY CC ON (C.CL_CATEGORY = CC.CLCG_NO)
	         WHERE CL_GRANT = 'A'
	         ORDER BY CL_NO DESC
	           ) A
	       )
	 WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="deleteClass">
	UPDATE CLASS
	   SET CL_GRANT = 'D'
	 WHERE CL_NO = ?
</entry>

<entry key="selectReviewCount">
	SELECT COUNT(*) COUNT
	  FROM REVIEW
</entry>

<entry key="selectReviewList">
	SELECT *
	  FROM (
	    SELECT ROWNUM RNUM, A.*
	      FROM (
	        SELECT REVIEW_NO
	             , CL_TITLE
	             , USER_NAME
	             , REVIEW_SCORE
	             , REVIEW_CONTENT
	             , REVIEW_ENROLLDATE
	          FROM REVIEW R
	          JOIN CLASS C ON (R.CL_NO = C.CL_NO)
	          JOIN USERINFO U ON (R.USER_NO = U.USER_NO)
	         ORDER BY REVIEW_NO DESC
	           ) A
	       )
	 WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="deleteReview">
	DELETE
	  FROM REVIEW
	 WHERE REVIEW_NO = ?
</entry>

<entry key="selectCommunityWorkCount">
	SELECT COUNT(*) COUNT
	  FROM COMMUNITY
	 WHERE CMCG_NO = 1
</entry>

<entry key="selectCommunityStudyCount">
	SELECT COUNT(*) COUNT
	  FROM COMMUNITY
	 WHERE CMCG_NO = 3
</entry>

<entry key="selectCommunityWorryCount">
	SELECT COUNT(*) COUNT
	  FROM COMMUNITY
	 WHERE CMCG_NO = 2
</entry>

<entry key="selectCommunityWorkList">
	SELECT *
	  FROM (
	    SELECT ROWNUM RNUM, A.*
	      FROM (
	        SELECT CM_NO
	             , USER_NAME
	             , CMCG_NAME
	             , CM_TITLE
	             , CM_CONTENT
	             , CM_ENROLLDATE
	             , CM_COUNT
	             , CM_LIKE_COUNT
	          FROM COMMUNITY C
	          JOIN USERINFO U ON (C.USER_NO = U.USER_NO)
	          JOIN COMMUNITY_CATEGORY CC ON (C.CMCG_NO = CC.CMCG_NO)
	         WHERE C.CMCG_NO = 1
	         ORDER BY CM_NO DESC
	           )A
	       )
	 WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectCommunityStudyList">
	SELECT *
	  FROM (
	    SELECT ROWNUM RNUM, A.*
	      FROM (
	        SELECT CM_NO
	             , USER_NAME
	             , CMCG_NAME
	             , CM_TITLE
	             , CM_CONTENT
	             , CM_ENROLLDATE
	             , CM_COUNT
	             , CM_LIKE_COUNT
	          FROM COMMUNITY C
	          JOIN USERINFO U ON (C.USER_NO = U.USER_NO)
	          JOIN COMMUNITY_CATEGORY CC ON (C.CMCG_NO = CC.CMCG_NO)
	         WHERE C.CMCG_NO = 3
	         ORDER BY CM_NO DESC
	           )A
	       )
	 WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectCommunityWorryList">
	SELECT *
	  FROM (
	    SELECT ROWNUM RNUM, A.*
	      FROM (
	        SELECT CM_NO
	             , USER_NAME
	             , CMCG_NAME
	             , CM_TITLE
	             , CM_CONTENT
	             , CM_ENROLLDATE
	             , CM_COUNT
	             , CM_LIKE_COUNT
	          FROM COMMUNITY C
	          JOIN USERINFO U ON (C.USER_NO = U.USER_NO)
	          JOIN COMMUNITY_CATEGORY CC ON (C.CMCG_NO = CC.CMCG_NO)
	         WHERE C.CMCG_NO = 2
	         ORDER BY CM_NO DESC
	           )A
	       )
	 WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="deletePost">
	DELETE
	  FROM COMMUNITY
	 WHERE CMCG_NO = ?
	   AND CM_NO = ?
</entry>

<entry key="selectMentorCount">
	SELECT COUNT(*) COUNT
	  FROM USERINFO U
	  JOIN MENTOR M ON (U.USER_NO = M.USER_NO)
	 WHERE MT_GRANT = 'W'
</entry>

<entry key="selectMentorList">
	SELECT *
	  FROM (
	    SELECT ROWNUM RNUM, A.*
	      FROM (
	        SELECT U.USER_NO
	             , USER_NAME
	             , USER_PHONE
	             , MT_COMPANY
	             , MT_JOB
	             , USER_EMAIL
	          FROM USERINFO U
	          JOIN MENTOR M ON (U.USER_NO = M.USER_NO)
	         WHERE USER_DIVISION = 2
	           AND MT_GRANT = 'W'
	         ORDER BY U.USER_NO DESC
	           ) A
	       )
	 WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectMentor">
	SELECT U.USER_NO
	     , USER_NAME
	     , USER_PHONE
	     , MT_COMPANY
	     , MT_JOB
	     , USER_EMAIL
	     , CLCG_NAME
	     , EMPCARD_PATH
	     , IDCARD_PATH
	  FROM USERINFO U
	  JOIN MENTOR M ON (U.USER_NO = M.USER_NO)
	  JOIN CL_CATEGORY C ON (M.CLCG_NO = C.CLCG_NO)
	 WHERE U.USER_NO = ?
</entry>

<entry key="mentorApproval">
	UPDATE MENTOR
	   SET MT_GRANT = 'A'
	 WHERE USER_NO = ?
</entry>

<entry key="mentorApprovalFusal">
	 UPDATE MENTOR
	   SET MT_GRANT = 'D'
	 WHERE USER_NO = ?
</entry>

<entry key="selectApprovalClassCount">
	SELECT COUNT(*) COUNT
	  FROM CLASS
	 WHERE CL_GRANT = 'W'
</entry>

<entry key="selectApprovalClassList">
	SELECT *
	  FROM (
	    SELECT ROWNUM RNUM, A.*
	      FROM (
	        SELECT CL_NO
	             , USER_NAME
	             , CLCG_NAME
	             , CL_TITLE
	          FROM CLASS C
	          JOIN USERINFO U ON (C.USER_NO = U.USER_NO)
	          JOIN CL_CATEGORY CC ON (C.CL_CATEGORY = CC.CLCG_NO)
	         WHERE CL_GRANT = 'W'
	         ORDER BY CL_NO DESC
	           )A
	       )
	 WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectClassApproval">
	SELECT CL_NO
	     , CLCG_NAME
	     , CL_TITLE
	     , CL_THUMBNAILPATH
	     , CL_INFO
	     , CL_CURRI
	     , CL_PRICE
	  FROM CLASS C
	  JOIN USERINFO U ON (C.USER_NO = U.USER_NO)
	  JOIN CL_CATEGORY CC ON (C.CL_CATEGORY = CC.CLCG_NO)
	 WHERE CL_NO = ?
</entry>

<entry key="classApproval">
	UPDATE CLASS
	   SET CL_GRANT = 'A'
	 WHERE CL_NO = ?
</entry>

<entry key="classApprovalFusal">
	 UPDATE CLASS
	   SET CL_GRANT = 'D'
	 WHERE CL_NO = ?	
</entry>





































</properties>