<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
		SELECT
			   USER_NO
			 , USER_ID
			 , USER_PWD
			 , USER_NAME
			 , USER_EMAIL
			 , USER_PHONE
			 , USER_ENROLLDATE
			 , USER_STATUS
			 , ADMIN_STATUS
			 , USER_DIVISION
		  FROM USERINFO
		 WHERE USER_STATUS = 'N'
		   AND USER_ID = ?
		   AND USER_PWD = ?
	</entry>
	
	<entry key="insertMember">
		INSERT
		  INTO MEMBER
		  (
		  	 
		  )
		  VALUES
		  (
			
		  )
	</entry>
	
	<entry key = "deleteMember">
		UPDATE MEMBER
		   SET STATUS = 'N'
		     , MODIFY_DATE = SYSDATE
		 WHERE USER_ID = ?
		   AND USER_PWD = ?  
	</entry>



</properties>