<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="loginMember">
		SELECT
			   USER_NO
			 , USER_ID
			 , USER_PWD
			 , USER_NAME
			 , USER_EMAIL
			 , USER_PHONE
			 , USER_ENROLLDATE
			 , USER_STATUS
			 , ADMIN_STATUS
		  FROM USERINFO
		 WHERE USER_STATUS = 'N'
		   AND USER_ID = ?
		   AND USER_PWD = ?
	</entry>
	
	<entry key="insertMember">
		INSERT
		  INTO MEMBER
		  (
		  	 USER_NO
		   , USER_NAME
		   , USER_ID
		   , USER_PWD
		   , PHONE
		   
		   , EMAIL
		   , ADDRESS
		   , INTEREST  
		  )
		  VALUES
		  (
			SEQ_UNO.NEXTVAL
		  , ?
		  , ?
		  , ? 
		  , ?
		  , null
		  , '서울'
		  , ?
		  )
	</entry>



</properties>