<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
		SELECT
			   USER_NO
			 , USER_ID
			 , USER_PWD
			 , USER_NAME
			 , USER_EMAIL
			 , USER_PHONE
			 , USER_ENROLLDATE
			 , USER_STATUS
			 , ADMIN_STATUS
			 , USER_DIVISION
		  FROM USERINFO
		 WHERE USER_STATUS = 'N'
		   AND USER_ID = ?
		   AND USER_PWD = ?
	</entry>
	
	<entry key="insertMember">
		INSERT
		  INTO USERINFO
		  (
		     USER_NO
		   , USER_ID
		   , USER_PWD
		   , USER_NAME
		   , USER_EMAIL
		   , USER_PHONE
		  )
		  VALUES
		  (
		    SEQ_USER.NEXTVAL
		  , ?
		  , ?
		  , ? 
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="idCheck">
		SELECT
			   COUNT(*) AS "COUNT"
		  FROM USERINFO
		 WHERE USER_ID = ?
	</entry>
	
	<entry key = "deleteMember">
		UPDATE MEMBER
		   SET STATUS = 'N'
		     , MODIFY_DATE = SYSDATE
		 WHERE USER_ID = ?
		   AND USER_PWD = ?  
	</entry>
	
	<entry key="insertMtoUserInfo">
		INSERT
		  INTO USERINFO
		  (
		     USER_NO
		   , USER_ID
		   , USER_PWD
		   , USER_NAME
		   , USER_EMAIL
		   , USER_PHONE
		   , USER_DIVISION
		  )
		  VALUES
		  (
		    SEQ_USER.NEXTVAL
		  , ?
		  , ?
		  , ? 
		  , ?
		  , ?
		  , 2
		  )
	</entry>
	
	<entry key="insertMtoMentor">
		INSERT
		  INTO MENTOR
		  (
		  	 USER_NO
		   , CLCG_NO
		   , MT_COMPANY
		   , MT_JOB
		   , EMPCARD_PATH  
		   , EMPCARD_ORIGINNAME
		   , IDCARD_PATH
		   , IDCARD_ORIGINNAME
		  )
		  VALUES
		  (
		    SEQ_USER.CURRVAL
		  , ?
		  , ? 
		  , ?
		  , ?
		  , ?
		  , ?
		  , ? 
		  )
	</entry>
	
	



</properties>