<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

<entry key="createClass">
INSERT 
	INTO CLASS
	(
	CL_NO
	,USER_NO
	,CL_CATEGORY
	,CL_TITLE
	,CL_SUBTITLE
	,CL_INFO
	,CL_CURRI
	,CL_PRICE
	,CL_ENROLLDATE
	,CL_GRANT
	,CL_THUMBNAILPATH

	)
	VALUES
	(
	SEQ_CL.NEXTVAL	
	,?
	,?
	,?
	,?
	,?
	,?
	,?
	,default
	,default
	,?
	)



</entry>

<entry key="selectClass">

SELECT
	CL_NO
	,CL_CATEGORY
	,CL_TITLE
	,CL_ENROLLDATE
	,CL_GRANT
	FROM CLASS
	WHERE USER_NO = ?
	
</entry>

<entry key="selectVodNo">
select 
	count(vod_no) vod_count 
from 
	vod 
where 
	cl_no = ?

</entry>
<entry key="insertVod">
insert into vod values(
	SEQ_VOD.nextval,
	?,
	?,
	?,
	default,
	default
)
</entry>
<!--1개의 클래스 상세조회  -->
<entry key="selectOneClass">
select 
	* 
FROM CLASS 
where 
	cl_no = ?
</entry>

<!-- 멘토의 모든 질문답변 조회 -->
<entry key="selectAllQuestion">
SELECT 
MT_QUE_NO,

QUE_TITLE,
QUE_CONTENT,
QUE_ENROLLDATE,

ANS_NO,
ANS_CONTENT,
ANS_DATE

FROM MT_QUE
WHERE USER_NO = ?
	

</entry>

<entry key="selectVodList">
select
	v.*,
	c.cl_title
from
	vod v join class c on v.cl_no = c.cl_no
where 
v.cl_no = ?
	

</entry>

<!-- 멘토의 모든 내 답변 조회 -->
<entry key="deleteMyAns">
DELETE
  FROM REPLY
 WHERE USER_NO = ?


</entry>

	

<entry key="selectLecturerByUserNo">

select 
    l.*,
    u.user_name,
    m.mt_company,
    c.clcg_name
from
lecturer l join userinfo u
    on l.user_no = u.user_no
join mentor m
    on l.user_no = m.user_no
join cl_category c
    on m.clcg_no = c.clcg_no
where
    l.user_no = ?
</entry>

</properties>