<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

<entry key="selectListCp">
SELECT 
	CP_NAME
	, DISCOUNT
	, CP_ENDDATE
FROM ISSUANCECOUPON I
JOIN COUPON C ON I.CP_NO = C.CP_NO
WHERE I.CP_STATUS = 'N'
AND CP_ENDDATE >= SYSDATE
AND USER_NO =?




</entry>


<entry key="countCp">
SELECT 
	COUNT(*)AS COUNT
FROM(SELECT CP_NAME, DISCOUNT, CP_ENDDATE
FROM ISSUANCECOUPON I
JOIN COUPON C ON I.CP_NO = C.CP_NO
WHERE I.CP_STATUS = 'N'
AND CP_ENDDATE >= SYSDATE
AND USER_NO =?)


</entry>

<entry key="selectMyReply">

SELECT
          REPLY_NO
        , CM_NO
        , REPLY_CONTENT
        , REPLY_ENROLLDATE
  FROM REPLY
  JOIN USERINFO USING(USER_NO)
 WHERE USER_NO = ?
 
</entry>

<entry key="selectMyPost">

SELECT
          CM_NO
        , CMCG_NO
        , CM_TITLE
        , CM_CONTENT
        , CM_ENROLLDATE
        , CM_COUNT
        , USER_NAME
  FROM COMMUNITY
  JOIN USERINFO USING(USER_NO)
 WHERE USER_NO = ?
 
</entry>


<entry key="">
SELECT 
      PAY_NO
    , CL_NO
    , ISUCP_NO
    , PAYMENT
    , FINAL_PAYMENT
    , ORDER_NAME
    , ORDER_PHONE
    , ORDER_EMAIL
    , PAY_DATE
 FROM PAY
WHERE REFUND != 'Y'
</entry>

<entry key="deleteMyPost">
DELETE
  FROM COMMUNITY
 WHERE USER_NO = ?
</entry>





</properties>