<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

<entry key="selectListCp">
SELECT 
	CP_NAME
	, DISCOUNT
	, CP_ENDDATE
FROM ISSUANCECOUPON I
JOIN COUPON C ON I.CP_NO = C.CP_NO
WHERE I.CP_STATUS = 'N'
AND CP_ENDDATE >= SYSDATE
AND USER_NO =?




</entry>


<entry key="countCp">
SELECT 
	COUNT(*)AS COUNT
FROM(SELECT CP_NAME, DISCOUNT, CP_ENDDATE
FROM ISSUANCECOUPON I
JOIN COUPON C ON I.CP_NO = C.CP_NO
WHERE I.CP_STATUS = 'N'
AND CP_ENDDATE >= SYSDATE
AND USER_NO =?)


</entry>

<entry key="selectMyReply">

SELECT
          REPLY_NO
        , CM_NO
        , REPLY_CONTENT
        , REPLY_ENROLLDATE
  FROM REPLY
  JOIN USERINFO USING(USER_NO)
 WHERE USER_NO = ?
 
</entry>

<entry key="selectMyPost">

SELECT
          CM_NO
        , CMCG_NO
        , CM_TITLE
        , CM_CONTENT
        , CM_ENROLLDATE
        , CM_COUNT
        , USER_NAME
  FROM COMMUNITY
  JOIN USERINFO USING(USER_NO)
 WHERE USER_NO = ?
 
</entry>

<entry key="selectListWish">
<![CDATA[
select   
    *
from
    (select
    rownum rn,
    b.*,
    c.cl_title,
    c.cl_thumbnailpath,
    um.user_name,
    m.mt_company
    from
    bookmark b join userinfo u
    on b.user_no = u.user_no
    join class c 
    on b.cl_no = c.cl_no
    join mentor m
    on c.user_no = m.user_no
    join userinfo um
    on m.user_no = um.user_no
    where
        b.user_no = ?
    order by
        b.cl_likedate desc
    )
where
    rn <= 4 
]]>
</entry>
<entry key="selectWishAllList">
select
    b.*,
    c.cl_title,
    c.cl_thumbnailpath,
    um.user_name,
    m.mt_company
from
    bookmark b join userinfo u
    on b.user_no = u.user_no
    join class c 
    on b.cl_no = c.cl_no
    join mentor m
    on c.user_no = m.user_no
    join userinfo um
    on m.user_no = um.user_no
where
    b.user_no = ?
order by
    b.cl_likedate desc

</entry>

<entry key="">
SELECT 
      PAY_NO
    , CL_NO
    , ISUCP_NO
    , PAYMENT
    , FINAL_PAYMENT
    , ORDER_NAME
    , ORDER_PHONE
    , ORDER_EMAIL
    , PAY_DATE
 FROM PAY
WHERE REFUND != 'Y'
</entry>

<entry key="deleteMyPost">
DELETE
  FROM COMMUNITY
 WHERE USER_NO = ?
</entry>

<entry key="deleteMyReply">
DELETE
  FROM REPLY
 WHERE USER_NO = ?
</entry>

<entry key="selectClassIng">

</entry>

<entry key="myPaymentList">

SELECT 
       P.PAY_NO
    , CL_TITLE
    , USER_NAME
    , PAY_DATE
FROM PAY P
JOIN CLASS C USING(CL_NO)
JOIN USERINFO U ON(C.USER_NO = U.USER_NO)
WHERE P.USER_NO = ?

</entry>

<entry key="myPaymentDetails">

SELECT 
         P.PAY_NO
       , P.PAYMENT
       , P.REFUND
       , P.FINAL_PAYMENT
       , P.ORDER_NAME
       , P.ORDER_PHONE
       , P.ORDER_EMAIL
       , P.PAY_DATE
       , CL.CL_TITLE
       , CL.CL_PRICE
       , C.DISCOUNT
FROM PAY P
JOIN CLASS CL ON(P.CL_NO = CL.CL_NO)
LEFT JOIN ISSUANCECOUPON I ON(I.ISUCP_NO = P.ISUCP_NO)
LEFT JOIN COUPON C ON(I.CP_NO = C.CP_NO)
WHERE P.PAY_NO = ?

</entry>
<entry key="selectClassingList">
<![CDATA[
select   
    *
from
    (select
	    rownum rn,
	    ci.*,
	    c.cl_title,
	    c.cl_thumbnailpath,
	    um.user_name,
	    m.mt_company
    from
	    class_ing ci join userinfo u
	    	on ci.user_no = u.user_no
	    join class c 
	    	on ci.cl_no = c.cl_no
	    join mentor m
	    	on c.user_no = m.user_no
	    join userinfo um
	    	on m.user_no = um.user_no
    where
        ci.user_no = ?
    order by
        ci.cl_startdate desc
    )
where
    rn <= 4
    ]]>
</entry>
<entry key="selectClassIngAllList">
select
    ci.*,
    c.cl_title,
    c.cl_thumbnailpath,
    um.user_name,
    m.mt_company
from
    class_ing ci join userinfo u
    	on ci.user_no = u.user_no
    join class c 
    	on ci.cl_no = c.cl_no
    join mentor m
    	on c.user_no = m.user_no
    join userinfo um
    	on m.user_no = um.user_no
where
    ci.user_no = ?
order by
    ci.cl_startdate desc

</entry>
<entry key = "myPaymentRefund">
	UPDATE PAY
	   SET REFUND = 'W'
	 WHERE PAY_NO = ?  
</entry>


</properties>