@charset "UTF-8";

.content-wrap{
    display : flex;
    flex-direction: row;
}

.content-wrap>.left{
    width : 250px;
    height : 500px;
}

.content-wrap>.right{
	padding : 30px 0 0 30px;
}

.content-wrap>.right>h3{
	color : #6363FF;
}