@charset "UTF-8";

.content-wrap{
    display : flex;
    flex-direction: row;
}

.content-wrap>.left{
    width : 250px;
    height : 500px;
}

.content-wrap>.right{
	padding : 30px;
	min-width : 800px;
    width : 100%;
}

.content-wrap>.right h3{
	color : #6363FF;
}

text-area{
	white-space : pre;
}