@charset "UTF-8";

	.admin-table{
		width : 100%;
		margin-top : 30px;
		font-size : 14px;
	}
	
	.admin-table tr{
		line-height : 40px;
	}
	

	.mentoRegistInfo-controller-btn{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top : 50px;
		width : 800px;
	}

	.mentoRegistInfo-controller-btn>.left-controller>:first-child{
		width : 100px;
		height : 40px;
		background-color: rgb(231, 76, 60);
		border-style: none;
		color : white;
		border-radius: 5px;
		cursor: pointer;
	}

	.mentoRegistInfo-controller-btn>.left-controller>:nth-child(2){
		width : 100px;
		height : 40px;
		background-color: #6363ff;
		border-style: none;
		color : white;
		border-radius: 5px;
		cursor: pointer;
	}

	.mentoRegistInfo-controller-btn>.right-controller>button{
		width : 100px;
		height : 40px;
		background-color: rgb(231, 76, 60);
		border-style: none;
		color : white;
		border-radius: 5px;
		cursor: pointer;
	}