@charset "UTF-8";

	.notice-insert-area{
		margin-top : 30px;
		width : 100%;
	}

	.notice-insert-area span{
		font-size : 14px;
		font-weight :bold;
		margin-bottom : 5px;
		display: inline-block;
	}

	.notice-insert-area #title-input{
		width : 600px;
		height : 40px;
		padding : 5px;
	}

	.notice-insert-area textarea{
		width : 600px;
		height : 250px;
		padding : 5px;
	}

	.notice-btn{
		width : 600px;
		text-align: right;
	}

	.notice-btn button{
		width : 100px;
		height : 40px;
		border-radius: 5px;
		border-style : none;
		color : white;
		cursor: pointer;
	}

	.notice-btn button[type=button]{
		background-color: rgb(231, 76, 60);
	}

	.notice-btn :nth-child(2){
		background-color: #6363FF;
	}