@charset "UTF-8";

/* * {border:1px solid black;}  */

li>a{color:black;}

.container{ 
    width:1190px;
    height:auto;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding:56px 16px 100px 34px;
}

.class-category-area {
    width:250px;
    margin-right:30px;
   	display:block;
}

#select-all {
    background-color: #6363ff;
    font-weight:bold;
    border:1px solid #6363ff;
}

#select-all>a{
    color:white;
}

.class-category-area>ul>li{
    height:48px;
    font-size:16px;
    list-style:none;
    padding:0 20px;
    line-height: 48px;
    background-color: #fff;
    border-bottom:1px solid #e5e7eb;
    border-right:1px solid #e5e7eb;
    border-left:1px solid #e5e7eb;
    letter-spacing: -0.5px;
}

.mentor-list{
    width:800px;
}

.class-list-area {
    width:800px;
}

.class-list-area>h3{
    margin-bottom:30px;
}

.class-sorting {
	width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-bottom:30px;
}

.class-sort-btn {
	width:300px;
	height:35px;
	border:1px solid #ABB0B5;
	border-radius:8px;
	background-color:#fff;
	display:flex;
	align-items:center;
	align-content:flex-around;
}

.class-sort-btn *{
	color:#3e4042;
	font-size:14px;
	font-weight:500;
}

.class-sort-btn #filter{
	width:70px;
}

.class-sort-btn button{
	width:80px;
	align-items:center;
	border:1px solid #fff;
	background-color:#fff;
}

.class-sort-btn a{
	text-decoration:none;
}

.class-sort-btn button:hover{
	color:#6363ff;
}

.class-sort-btn button:visited{
	color:#6363ff;
}

.class-sort>i {
    color:black;
}


.class-sort > i {
    width:20px;
    height:20px;
}

#class-order {
    font-size: 14px;
    text-align: center;
    height:30px;
    border-radius: 4px;
    margin-right:25px;
}

.class-list {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-content:space-around;
    
}

.class-cover {
    width: 230px;
    height: 250px;
    border:1px solid #e5e7eb;
    border-radius: 4px;
    padding:10px 15px 10px 15px;
    box-shadow:0 4px 24px 0 rgb(0 0 0 / 4%);
    cursor:pointer;
    margin:17px;
}

.class-cover:hover{
    transform: scale(1.05);
    transition: all 0.3s;
}

.class-list span{
    font-size:15px;
    margin-bottom:1px;
}

.class-cover>h6{
	font-weight:600;
}

#score-star{
    color:#FFCE55;
}

#class-cover-img{
	margin-top:3px;
	margin-bottom:3px;
}

#zzim-count{
	margin-top:3px;
    margin-right:10px;
}