@charset "UTF-8";

.container {
    width:1190px;
    height:auto;
    /* border:1px solid blue; */
    padding:28px 16px 100px 34px;

}

.class-info, .order-info-area{
    width:800px;
    margin:auto;
}

.class-summary td{
	padding-left:30px;
	padding-right:20px;
}

#order-form {
    display:flex;
    justify-content: space-between;
}

#order-user-info{
	width:100%;
	padding-left:20px;
	
}
#order-info-table{
    margin:auto;
}

#order-user-info * {
    border:1px solid red;
}

.privacy-policy button, #go-payment {
    color:white;
    background-color: #6363ff;
    border:1px solid #6363ff;
    border-radius: 4px;
}

.privacy-policy button {
    width:60px;
    height:30px;
}

.button-area {
    text-align:center;
    margin-top:25px;
}

#go-payment {
    width:350px;
    height:50px;
    font-size:20px;
}

#order-info-table {
    height:800px;
}

#userName, #userPhone, #userEmail {
    width:300px;
    height:35px;
    padding:5px;
}

#origin-price, #coupon-discount, #total-price{
    width:160px;
    height:40px;
    font-size:18px;
    font-weight:550;
    text-align: right;
    padding-right:10px;
}

#class-enroll-btn{
    border:1px solid #6363ff;
    border-radius:4px;
    background-color: #6363ff;
    color:#fff;
    font-weight:500;
    font-size: 18px;
    width:200px;
    height:50px;
    
}

