@charset "UTF-8";

.container {
    width:1190px;
    height:100vh;
    /*border:1px solid blue;*/
    display:flex;
    flex-direction: column;
    align-items: center;
}

.result-area {
	margin-top:50px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#check-icon {
    color:#6363ff;
    font-size:70px;
    margin-bottom:15px;
}

.button-area button{
    border-radius:4px;
    height:50px;
}

#return-main {
    width:150px;
    background-color: #fff;
    border:1px solid #ABB0B5;
    margin-right:20px;
}

#return-main a {
    font-size:18px;
    color:#6363ff;
}

#go-mypage {
    width:200px;
    background-color: #6363ff;
    border:1px solid #6363ff;
}

#go-mypage a{
    font-size:18px;
    color:white;
}