@charset "UTF-8";

	.search-area-wrap{
		width : 1190px;
		margin : 80px auto 0 auto;
	}

	/*카테고리부분*/
	.search-area-wrap>.category-area{
		width : 100%;
		height : 30px;
		font-size : 12px;
		font-weight: bold;;
		display : flex;
	}

	.search-area-wrap>.category-area>li>a{
		color : black;
	}

	.search-area-wrap>.category-area>li>a:hover{
		text-decoration: underline;
	}
	
	/*검색어 결과, 검색폼 부분*/
	.search-area-wrap>.search-area{
		width : 100%;
		height : 80px;
	}

	.search-area-wrap>.search-area input{
		width : 90%;
		height : 40px;
		padding-left : 7px;
		border: 2px solid #6363ff;
	}

	.search-area-wrap>.search-area button{
		width : 9%;
		height : 40px;
		background-color : #6363ff;
		color : white;
		border-style: none;
		cursor: pointer;
	}
	
	/*클래스 부분*/
	.search-area-wrap>.class-wrap{
		width : 100%;
		margin : 50px 0 80px 0;
	}

	.search-area-wrap>.class-wrap>.class-item{
		width : 100%;
		height : 120px;
		padding : 0 20px 0 20px;
		margin-bottom : 20px;
		border-radius: 5px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		box-shadow: 3px 3px 5px rgb(192, 192, 192);
	}

	.search-area-wrap>.class-wrap>.class-item a{
		color : black;
	}

	.search-area-wrap>.class-wrap>.class-item a:hover{
		text-decoration: underline;
	}
	
	.search-area-wrap>.class-wrap>.class-item span{
		font-size : 12px;
	}

	/*멘토 부분*/
	.search-area-wrap>h2{
		margin-top : 50px;
	}

	.search-area-wrap>.mentor-wrap{
		width : 100%;
		margin : 30px 0 30px 0;
		display: flex;
		flex-wrap : wrap;
		}

	.search-area-wrap>.mentor-wrap>.mentor-info{
		width : 150px;
		height : 200px;
		box-shadow: 3px 3px 5px rgb(192, 192, 192);
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding : 20px 10px 10px 10px;
		margin : 0 30px 50px 0;
	}

	.search-area-wrap>.mentor-wrap>.mentor-info>.profile-box{
		width : 60px;
		height : 60px;
		border-radius: 70%;
		overflow: hidden;
	}

	.search-area-wrap>.mentor-wrap>.mentor-info>.profile-box>img{
		width : 100%;
		height : 100%;
		object-fit: cover;
	}

	.search-area-wrap>.mentor-wrap>.mentor-info>span{
		font-size: 12px;
	}

	.search-area-wrap>.mentor-wrap>.mentor-info>button{
		width : 100%;
		height : 40px;
		background-color: #6363ff;
		color : white;
		border-style: none;
		border-radius: 5px;
		cursor: pointer;
	}

	/*게시글 부분*/
	#c{
		margin-bottom: 20px;
	}

	.search-area-wrap>.post-wrap{
		width : 100%;
		margin : 50px 0 80px 0;
	}

	.search-area-wrap>.post-wrap>.post-item{
		width : 100%;
		height : 120px;
		padding : 0 20px 0 20px;
		margin-bottom : 20px;
		border-radius: 5px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		box-shadow: 3px 3px 5px rgb(192, 192, 192);
	}

	.search-area-wrap>.post-wrap>.post-item a{
		color : black;
	}

	.search-area-wrap>.post-wrap>.post-item a:hover{
		text-decoration: underline;
	}

	.search-area-wrap>.post-wrap>.post-item>.post-content{
		color : #666;
		line-height: 25px;
	}
	
	.search-area-wrap>.post-wrap>.post-item span{
		font-size : 12px;
	}