@charset "UTF-8";

.main-web-wrap{
    width : 1090px;
    margin : auto;
    display : flex;
}

.main-web-wrap .left-content{
    width : 200px;
    height : 100vh;
}

.main-web-wrap .right-content{
    padding : 40px 0 0 40px;
}