@charset "UTF-8";


   .container-all{
   height:100%;
 
 
   }
   
   
    .coupon-head{
/*         padding-left:20px; */
      padding: 40px 0px 0px 40px;
       
    }
    
    .coupon-head-bottom{
        display:inline-block;
        margin-left:auto;
        margin-top:20px;
        

    }

    #coupon-quantity{
      margin-left:10px;
    }

   

    .coupon-body{
         border:1px solid grey;
        padding-left:20px;
        margin-left:40px;
        margin-bottom:30px;
        margin-right:auto;
        width:500px;
        height:80px;
        display:flex;
        justify-content: space-between;
         
    }
   
    

    .coupon1{
        display:inline-flex;
        text-align:center;
    }

    #cpNo{
        margin-top:10px;
        font-weight:1000;
    }
    #discount{
        color:rgb(255, 60, 0);
    }
    #expire-date{
        margin-left:60px;

    }



    #use-btn{
        border:none;
        background: #6363FF;
        color:white;
       width:100px;
       /* font-size:20 px; */
       font-size:medium;
        
        
    }
   